{% extends 'base.html' %}

{% block content %}
<section class="hero">
    <img src="{{ url_for('static', filename='images/profile.jpg') }}" alt="Profile Picture" class="profile-pic">
    <h1>Welcome to Aatur Bansal's Portfolio</h1>
    <h3>scores and ranks-</h3>
    <p>12th board - 96.8%<br>
    10th Board - 97%<br>
    Jee mains  - 22064<br>
    Jee advanced - 25671<br></p>
    <h3>achievements-</h3>
    <p>Best student award<br>
    Best orator award <br>
    English olympiad madhya pradesh and chattishgarh rank 1<br>
    Explore my projects and articles</p>
</section>
{% endblock %}
